
body{
    background-color: #BAE1F2;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.expenseTracker{
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.photo{
    border-radius: 50%;
    width: 100px;
}
.profile{
    display: flex;
    margin-left:100px;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 200px;
    margin-left: 50px;
}
.signOut{
    border: none;
    border-radius: 20px;
    background: #3cb0fd;

    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    color: white;
    font-size:15px;
    font-weight: bold;
    padding: 10px;
}
.signOut:hover {
    transition-duration: 120ms;

    background-color: #b23b3b;
    background-image: linear-gradient(to bottom, #3cb0fd, #b23b3b);
    transform: scale(1.1);

    text-decoration: none;
    cursor: pointer;
  }
.container-transTab{
    display: flex;
    justify-content: center;
    align-items: center;
}
.transTab{
    background-color: #fff;
    border: 2px solid #3498db;
    border-radius: 12px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h3{
    text-align: center;
}
ul{
    list-style: none;
}

.submit-btn{
    margin: 20px;
    color: #3498db;
    padding: 4px;
}
.submit-btn:hover{
    transition-duration: 120ms;
    transform: scale(1.1);
    background-color: azure;
    background-image: linear-gradient(to bottom, #919191, #3b3b3b);

}
input{
    margin: 12px;
}
.container{
    background-color: #fff;
    border: 2px solid #3498db;
    border-radius: 12px;
}
.summary{
    padding-left: 20px;
}